# ===============================================================
#  Vibe Server - Python Dependencies
# ===============================================================

# --- Framework del Servidor Web ---
fastapi
uvicorn[standard]
websockets

# --- Servicios de Google Cloud e IA ---
google-cloud-speech
google-generativeai
google-api-core

# --- Mejor STT ---
deepgram-sdk~=4.0

# --- Procesamiento de Audio y Voz ---
webrtcvad-wheels # Para Detección de Actividad de Voz (VAD)

# --- Utilidades ---
python-dotenv

pydub       

numpy 

soundfile